<h1 class="pb-4">Welcome to the Digital Cookbook!</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About</li> 
    </ol>
</nav>
<div class="justify-content-center">
    <p></p>
    <p>
        The Digital Cookbook is a curated collection of diverse and delicious recipes aimed at satisfying various
        palates and culinary preferences.
        From appetizing main courses to delightful desserts, our extensive assortment caters to a wide spectrum of
        tastes.
    </p>
    <p>
        My goal is to provide users with an assortment of meticulously crafted recipes, coupled with cooking tips and
        insights, enabling anyone,
        regardless of their culinary expertise, to create impressive and flavorful dishes.
    </p>
    <p>
        Explore my library of recipes, experiment with ingredients and techniques, and transform your mealtime into an
        enjoyable and rewarding experience.
        Whether you're a seasoned cook or a beginner, my website is designed to inspire and assist you on your
        gastronomic journey.
    </p>
    <p>
        Join me in discovering an array of culinary possibilities. Start exploring my collection and embark on a
        delightful cooking adventure!
    </p>
    <div style="text-align: center; opacity:0.8">
        <img src="/img/gastronomy.jpg" width="600px" alt="gastronomy">
    </div>
    
    
</div>